<main>
    <!-- Hero Area Start-->
    <div class="slider-area">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Error 404</h2>
                            <p class="text-light mt-3">Səhifə tapılmadı!</p>
                            <!-- Back to Home Button -->
                            <a href="index.html" class="btn btn-primary mt-4">Ana Səhifəyə Qayıt</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
</main>
